

@mixin photo-hover($w, $h, $transform){
   max-width: $w;
   max-height: $h;
   margin: 10px;
   background: $gray-light-200;

   img{
      transition: .3s ease-in-out;
   }
   &:hover{
      img{
         transform: $transform;
   
      }
   }
}

// Icon shadow / active

%md-icon-bg-lightmode{
   padding: 36px;
   border-radius: 8px;
   transition: .2s;
   &:hover{
      background-color: $gray-light-100;
   }
   &:active{
      background-color: $gray-light-200;
   }

}