
// lightmode photo for intro
@mixin photo-hover($w, $h, $transform){
   max-width: $w;
   max-height: $h;
   margin: 10px;
   background: $gray-light-200;

   img{
      transition: .3s ease-in-out;
      transform: translateX(-40px) translateY(-40px)
   }
   &:hover{
      img{
         transform: $transform;
      }
   }
}


// darkmode photo for intro
@mixin photo-hover-darkmode($w, $h, $transform){
   max-width: $w;
   max-height: $h;
   margin: 10px;
   background: $gray-dark-200;

   img{
      background-color: red;
      transition: .3s ease-in-out;
      transform: translateX(-40px) translateY(-40px)
   }
   &:hover{
      img{
         transform: $transform;
      }
   }
}


// lightmode photo for about
@mixin about-photo-hover($w, $h, $transform){
   max-width: $w;
   max-height: $h;
   margin: 10px;
   background: $gray-light-200;

   img{
      transition: .3s ease-in-out;
      transform: translateX(40px) translateY(-40px)
   }
   &:hover{
      img{
         transform: $transform;
      }
   }
}

// darkmode photo for about
@mixin about-photo-hover-darkmode($w, $h, $transform){
   max-width: $w;
   max-height: $h;
   margin: 10px;
   background: $gray-dark-200;

   img{
      transition: .3s ease-in-out;
      transform: translateX(40px) translateY(-40px)
   }
   &:hover{
      img{
         transform: $transform;
      }
   }
}


// Icon shadow / active

@mixin md-icon-bg-lightmode($p){
   padding: $p;
   padding: 5px;
   border-radius: 8px;
   transition: .2s;
   &:hover{
      background-color: $gray-light-100;
   }
   &:active{
      background-color: $gray-light-200;
   }
}
@mixin md-icon-bg-darkmode($p){
   padding: $p;
   padding: 5px;
   border-radius: 8px;
   transition: .2s;
   &:hover{
      background-color: $gray-dark-100;
   }
   &:active{
      background-color: $gray-dark-200;
   }
}

// Media query  769 , 576 , 375 

