footer{
   background-color: $gray-light-50;
   padding: 24px 0;
   .copyright{
      display: flex;
      align-items: center;
      justify-content: center;
      small{
         color: $gray-light-600;
         @extend %all-body-3;
         a{
            color: $gray-light-600;
            text-decoration: underline;
         }
      }
   }
}
@media(prefers-color-scheme:dark ){
   footer{
      background-color: $gray-dark-50;

      .copyright{

         small{
            color: $gray-dark-600;

            a{
               color: $gray-dark-600;
            }
         }
      }
   }
}