header{
   background-color:#ffffff8d;
   height: 68px;
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 9999;
   backdrop-filter: blur(10px);
   padding-top: 15px;

   .nav{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .nav__logo__dark{
         display: none;
      }
      &__right{

            gap: 48px;
         &__list{
            @extend %justify-between;
            gap: 24px;

            &__item{
               a{
                  @extend %all-body-2-md;
                  color: $gray-light-600;
                  &:hover{
                     color: $gray-light-900;
                  }
                  &:active{
                     color: $gray-light-600;
                  }
               }
            }
         }
         &__actions{
            @extend %align-center;
            gap: 16px;

            &__toggle_btn{
               @include md-icon-bg-lightmode(5px);
               display: flex;
               align-items: center;
               .moon{
                  display: none;
               }
            }

            &__download_btn{
               background-color: $gray-light-900;
               border-radius: 12px;
               padding: 8px 16px;
               border: none;
               color: $gray-light-50;
               @extend %all-body-2-md;
               transition: .2s;

               &:hover{
                  background: $gray-light-700;
               }
               &:active{
                  background: $gray-light-800;
               }
            }
         }
      }

    
   }
}

@media (prefers-color-scheme: dark){
   header{
      background-color: $gray-dark-default;
      .nav{
         .nav__logo__light{
            display: none;
         }
         .nav__logo__dark{
            display: block;
         }
         &__right{
            &__list{ 
               &__item{
                  a{
                     color: $gray-dark-600;
                     &:hover{
                        color: $gray-dark-900;
                     }
                     &:active{
                        color: $gray-dark-600;
                     }
                  }
               }
            }
            &__actions{
   
               &__toggle_btn{
                  @include md-icon-bg-lightmode(5px);
                  display: flex;
                  align-items: center;
                  .moon{
                     display: block;
                  }
                  .sun{
                     display: none;
                  }
               }
   
               &__download_btn{
                  background-color: $gray-light-900;
                  color: $gray-light-50;
   
                  &:hover{
                     background: $gray-dark-700;
                  }
                  &:active{
                     background: $gray-dark-800;
                  }
               }
            }
         }
      
      }
   }
}


@media (min-width: $layout-mobile) {
   
   .nav__right {
      display: none !important;
   }

}

@media (min-width: $layout-desktop) {
   
   .nav__right{
      display: flex !important;
   }

}