body{
   font-family: "Inter", sans-serif;
   font-style: normal;
   scroll-behavior: smooth;
}
@font-face {
   font-family: "Inter", sans-serif;
   src: url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
}

// Typography
// Only screen size-specific variants utilized on website are defined here.
// Font family - inter

// Heading H1

%desktop-h1 {
   font-size: 60px;
   line-height: 72px;
   letter-spacing: -2%;
   font-weight: 700;
}

%tablet-h1 {
   font-size: 48px;
   line-height: 48px;
   letter-spacing: -2%;
   font-weight: 700;
}

%mobile-h1 {
   font-size: 36px;
   line-height: 40px;
   font-weight: 600;
}

// Heading H2

%desktop-h2 {
   font-size: 36px;
   line-height: 40px;
   letter-spacing: -2%;
   font-weight: 600;
}
%tablet-h2 {
   font-size: 18px;
   line-height: 28px;
   letter-spacing: -2%;
   font-weight: 600;
}
%mobile-h2 {
   font-size: 18px;
   line-height: 28px;
   letter-spacing: -2%;
   font-weight: 600;
}

// Heading H3

%desktop-semibold-h3 {
   font-size: 30px;
   line-height: 36px;
   letter-spacing: -2%;
   font-weight: 600;
}
%desktop-bold-h3 {
   font-size: 30px;
   line-height: 36px;
   letter-spacing: -2%;
   font-weight: 700;
}

%tablet-semibold-h3 {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -2%;
   font-weight: 600;
}
%tablet-bold-h3 {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -2%;
   font-weight: 700;
}

%mobile-semibold-h3 {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -2%;
   font-weight: 600;
}
%mobile-bold-h3 {
   font-size: 24px;
   line-height: 32px;
   letter-spacing: -2%;
   font-weight: 600;
}

// Subtle
// All
%all-subtle-normal{
   font-size: 20px;
   line-height: 28px;
   font-weight: 400;
}
%all-subtle-semibold{
   font-size: 20px;
   line-height: 28px;
   font-weight: 600;
}

// Tablet
%tablet-subtle-normal{
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
}

%tablet-subtle-semibold{
   font-size: 18px;
   line-height: 28px;
   font-weight: 600;
}
// Mobile
%mobile-subtle-normal{
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
}

%mobile-subtle-semibold{
   font-size: 18px;
   line-height: 28px;
   font-weight: 600;
}

// Body 1
// All
%all-body-1{
   font-size: 18px;
   line-height: 28px;
   font-weight: 400;
}
// Tablet
%tablet-body-1{
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
}
// mobile
%mobile-body-1{
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
}

// Body-2
// All
%all-body-2{
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
}
%all-body-2-underline{
   font-size: 16px;
   line-height: 24px;
   font-weight: 400;
   text-decoration: underline;
}
%all-body-2-md{
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
}
%all-body-2-semi-bold{
   font-size: 16px;
   line-height: 24px;
   font-weight: 600;
}

// Body-3
// All
%all-body-3{
   font-style: 14px;
   line-height: 20px;
   font-weight: 400;
}
%all-body-3-md{
   font-style: 14px;
   line-height: 20px;
   font-weight: 500;
}