#experience {
   padding: 96px 0;
   background-color: $gray-light-50;
   .block{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .experience__title{
         @extend %all-body-3-md;
         @extend %section-title;
         margin-bottom: 16px;
      }
      .experience__desc{
         @extend %all-subtle-normal;
         margin-bottom: 48px;
      }
   }
      .cards{
         margin: 0 auto;
         width: 896px;
         display: flex;
         flex-direction: column;
         gap: 48px;
         .card{
            display: flex;
            flex-direction: row;
            align-items: start;
            justify-content: space-between;
            border-radius: 12px;
            padding: 32px;
            background-color: $gray-light-default;
            @extend %shadow-md;
            img{
               width: 140px;
               transition: .3s;
               &:hover{
                  transform: scale(1.1);
               }
            }
            .empty-box{
               width: 48px;
            }
            &__content{
               width: 384px;
               &__title{
                 @extend %all-subtle-semibold;
                 margin-bottom: 16px;

               }

               &__list {
                  list-style-type: disc;
                  margin-left: 20px;
                  &__item{
                     @extend %all-body-2;
                     color: $gray-light-600;
                     margin-bottom: 4px;

                  }
               }
            }
            p{
               @extend %all-body-2;
               color:  $gray-light-700;
            }
         }
      }
}

@media(prefers-color-scheme: dark){
   #experience {
      background-color: #111827;
      .block{
         .experience__title{
         }
         .experience__desc{
            color: $gray-light-default;
         }
      }
         .cards{
            .card{
               background-color: #1F2937;
               color: $gray-light-default;
               &__content{

   
                  &__list {
                     &__item{
                         color: $gray-light-default;

                     }
                  }
               }
               p{
                  color:  $gray-light-default;
               }
            }
         }
   }
   

}