#skills{
   padding: 96px 0;
   .block{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .skills__title{
         @extend %section-title;
         @extend %all-body-3-md;
         margin-bottom: 16px;
      }
      .skills__desc{
         color: $gray-light-600;
         margin-bottom: 48px;
      }
   }

   .slider__container{
         margin-bottom: 48px;
      .slider{
            @extend %justify-between;

         .slide{
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 8px;

               img{
                  transition: .3s;

                  &:hover{
                     transform: scale(1.1)
                  }
               }
               .express-darkmode{
                  display: block;
               }
               .express-lightmode{
                  display: none;
               }

            }

            p{ 
               @extend %all-body-1;
               color: $gray-light-600;
               text-transform: capitalize;
            }
         }
      }
   }

@media (prefers-color-scheme: dark){
   #skills{
      background-color: $gray-dark-default;

      .block{ 
         .skills__desc{
            color: $gray-dark-600;
         }
      }
   
      .slider__container{
         .slider{
               @extend %justify-between;
   
               p{ 
                  color: $gray-dark-600;
               }
               .express-lightmode{
                  display: block;
               }
               .express-darkmode{
                  display: none;
               }
            }
         }
      }
    
}